.footer{
    border-top: 1px solid $color-white-two;
    display:flex;
    flex-direction: column;
    align-items: center;
    

    &__copy{
    font-family: $font-family-general;
    color:$color-brownish-grey;
    font-size: rem(14);
    opacity:0.5;
    line-height: 20px;
    }
    &__logo{
        width:103px;
        height: 40px;
    }   
    .coco-logo{
        width: 150px;
        margin-bottom: 10px;
    }
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 40px; 
        .coco-logo{
            margin-bottom: 0px;
        }
    }
    
    @include desktop{
        padding:9px 40px;
    }
}