.palette__container{
    padding: 0px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
        text-transform: uppercase;
        font-size: rem(14);
        margin-top: 18px;
        margin-bottom: 0;
        padding-left: 19px;
    }

    .palette{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.palette__color--general{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    .palette__color{
        width: 30px;
        height: 25px;

        &.blue1{
            background-color: $color-dark-green-blue;
        }
        &.blue2{
            background-color: $color-dirty-blue;
        }
        &.blue3{
            background-color: $color-hospital-green;
        }
        &.red1{
            background-color: $color-dried-blood;
        }
        &.red2{
            background-color: $color-rusty-red;
        }
        &.red3{
            background-color: $color-tomato;
        }
        &.yellow1{
            background-color: $color-slate;
        }
        &.yellow2{
            background-color: $color-faded-orange;
        }
        &.yellow3{
            background-color: $color-light-grey-blue;
        }
    }
}



