.form__share{
    padding:0;
    border:none;
    &--wrapper{
        border-bottom: 1px solid $color-white-two;
        margin: 0;
        display:flex;
        flex-direction: column;
    }
    &--container{
        margin: 0px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;

            .form__share--tittle{
             display:flex;
             flex-direction: row;   
             padding-top: 10px;
             padding-bottom: 10px;
             @include tablet {
                padding-bottom: 7px;
             }

            .form__share--text{
            font-size:rem(18);
            margin:0;
            padding-left: 15px;
            text-transform: uppercase;   
            font-weight: 500;
            }
        }
    }
}
.fa-share-alt {
    padding-left: 2px;
    color:$color-orange;
}
.fa-address-card , .form__share--text.btn{
    color: $color-white;
}
.fa-twitter{
    padding-right: 9.5px;
}
.fa-chevron-down {
    padding-top: 14px;
}
.form__create-link {
    margin: 0; 
    display:flex;
    flex-direction: column;
    border-top: 1px solid $color-white-two;
}
.share__create{
    text-align: center;

    &--btn{
        width:199px;
        height: 50px;
        border-radius: 12px;
        background-color:$color-orange;
        border:none;
        cursor: pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 30px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    } 

    .btn-disabled{
        background-color:$color-light-grey;
        cursor: auto;
    }

    &--title{
        font-size:rem(18);
        color: $color-white;
        margin:0;
        padding-left:10px;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.share__create-card{
    text-align: center;
        &--text{
            text-align: center;
            font-size: rem(18);
            margin-top:20px;
            margin-bottom: 5px;
        }
        &--link{
            color:$color-orange;
            font-size:12px;
            margin:0;
            cursor:pointer;
        }
        &--twitter{
            text-align: center;
            background-color:$color-azure;
            color: $color-white;
            border-radius:3px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
            font-size:rem(14);
            line-height: 20px;
            width:181px;
            padding:3px 9px 7px 3px;
            margin-top:10px;
            margin-bottom:30px;
            align-self:center;    
            cursor:pointer;
        }
}

.error{
    border: 1px solid red;
}
.able {
    border:1px solid $color-hospital-green;
}
.disabled{
background-color:$color-silver;
cursor: none;
}
.errorMessage{
    color: red;
    text-align: center;   
}