.form__header{
    
    .fill--inputs{
        display:flex;
        flex-direction: column;
        
        .label{ 
            color:$color-dark-green-blue;
            font-size: rem(14);
            font-family: $font-family-general; 
            
            .asterisk{
                color: $color-orange;
            }
        }
        .label.name{
            margin-top: 10px;
        }
        .label.email{
                margin-top: 20px;
            } 
        .input{
            color:$color-gun-metal;
            padding: 0 5px;
            font-family: $font-family-general;
            font-size: rem(14);
            height: 30px;
            margin-top: 7px;
            margin-bottom: 20px;
            align-items: flex-start;

            &:focus{
                border: solid 2px $color-orange;
                outline: none;
            }
        }

        .input-error{
            border: 1px solid red;
        }

        .button-image{

            .get-avatar{
                display: flex;
                margin-top: 10px;
            }

            .btn{
                background-color: $color-orange;
                color: $color-white;
                border-radius: 3px;
                border: none;
                height: 30px;
                width: 140px;
                box-shadow: 0 0 4px 0 rgba (0, 0, 0, 0.32);
                cursor: pointer;
            } 
            .square{
                width: 30px;
                height: 30px;
                border: 1px solid $color-hospital-green;
                margin-left: 15px;
                background-image: url('../../images/default-avatar.png');
                background-size: cover
               
            }
            .action__hiddenField {
                /* Ocultamos el input de tipo "file" porque no podemos 
                darle los estilos que queremos */
                display: none;
            }
        }   
    }

    .error-message{
        color: red;
        font-size: rem(12);
        margin: -12px 0 20px 0;
    }

    .error-image{
        margin: 12px 0 0px 0;
    }
}
