.form{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    color:$color-gun-metal;
    @include tablet{
        width: 50%;
        padding-left: 40px;
        padding-right: 30px;
        margin-top: 20px;
    }
    @include desktop {
        width: 25%;
        min-width: 350px;
    }
}

.form__header{
    border: none;
    padding: 0;
    border-bottom: 1px solid $color-white-two;

    .form__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;

        .form__contain--title{
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 10px;
            @include tablet {
                padding-bottom: 7px;
            }
            .form__title{
                text-transform: uppercase;
                font-size: rem(18);
                font-weight: 500;
                margin: 0;
                padding-left: 10px;
            }
            .form__img{
                width: 21px;
                color:$color-orange;
            }
        }
        
        &:hover > .click-arrow{
            color: $color-orange;
        }
        .click-arrow{
            transition: transform 0.5s;
            &:hover{
                color: $color-orange;
            }
        }
    }
}

.form-bottom{
    max-height: 0px;
    transition:max-height 0.5s; 
    overflow:hidden;
}

.form-bottom-collapse{
    max-height: 700px;
}