/* colors*/
$color-orange: #e17334;
$color-orange-opacity: rgba(225,115,52, 0.21); 
$color-dirty-blue: #438792;
$color-dark-green-blue: #114e4e;
$color-gun-metal: #54585a;
$color-black: #000000;
$color-light-khaki: #f9f4dc;
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;
$color-black-20: rgba(0, 0, 0, 0.2);
$color-tomato: #e95626;
$color-hospital-green: #a2deaf;
$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;
$color-azure: #00a0f5;
$color-white: #d5d5d5;
$color-white-two: #d8d8d8;
$color-brownish-grey: #6b6b6b;
$color-yelow-coco: #fd9e1d;
$color-pink-coco:#e5569f;
$color-blue-coco:#2b97cb;
$color-white-smoke:#f5f5f5;
$color-white:#fff;
$color-pinkish-grey: #c5c5c5;
$color-red: #ff0000;



/*Fuentes*/
$font-family-general:'Open Sans', sans-serif;
$font-family-cards:'Montserrat', sans-serif;
$font-family-landing:'Merriweather', serif;


